html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 100vh;
}

.flexr {
    background: cyan;
    flex: 1 0 auto;
    width: 100%;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
}

.iconholder {
	color: black;
	background-color: white;
	border: 1px solid dodgerblue;
    font-size: 2.5em;
    width: 1em;
    height: 1em;
    padding: 0.1em;
    flex: 0 0 auto;
    box-sizing: content-box;
    border-radius: 0.05em;
    align-self: flex-start;
    margin: 0.125em;
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
}

.link-text {
    align-self: center;
    align-items: flex-start;
    justify-content: space-around;
    align-content: stretch;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    position: relative;
}



.flexr::after {
    content: '\00a0';
    /* &nbsp; */
    display: block;
    margin-top: 1em;
    height: 0px;
    visibility: hidden;
}

header,
footer {
    flex: none;
}

body {
    font-family: sans-serif;
}

header {
    background: #cbffff;
}

footer {
    background: #87d3d3;
}

main {
    background: rgba(255, 255, 255, 0.5);
    flex: 1 0 auto;
}

nav.chapter {
    background: rgba(128, 128, 128, 0.5);
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

nav.chapter ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 auto;
}

nav.chapter a {
	padding:0;
	position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    align-items: center;
    text-decoration: none;
    margin: 1px;
    background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border-radius: 0;
    color: black;
    min-width:4rem;
    min-height:4rem;
    
}

nav.chapter li a:hover,
nav.chapter li a:focus{
    background-color: dodgerblue;
    background: rgb(103,174,229); /* Old browsers */
background: -moz-linear-gradient(top, rgba(103,174,229,1) 0%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(103,174,229,1) 0%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(103,174,229,1) 0%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67aee5', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
    color: white;
}


nav.chapter a:hover .iconholder,
nav.chapter a:focus .iconholder {
    animation: iconscale .2s ease-in-out;
    animation-fill-mode:both;
    z-index: 1;
}

nav.chapter a:hover .iconholder::after,
nav.chapter a:focus .iconholder::after {
    content:"";
    border: 1px solid white;
    position: absolute;
     top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 100%;
    z-index: -1;
    box-shadow: 0 0 5px #525252;
    
}

@keyframes iconscale {
    0% {
        z-index: 0;
        transform: scale(1);
        
    }
    1% {
        z-index: 10;
        transform: scale(1);
    }
    20% {
        z-index: 10;
        transform:  scale(0.8);
        
    }
    50% {
        border-radius: 30%;

    }
    100% {
        z-index: 10;
        transform:scale(1.1);
        border-color: #1ce06f;
        background-color: white;
        /*border: 2px solid blue;*/
        border-width: 4px;
        border-radius: 100%;
    }
}

@keyframes slider {
	0% {
		left:0;
		right:0;
	}
	100% {
		left: .25rem;
	}
}

.chapter .iconholder {
    font-size: 8vw;
}

@media screen and (orientation:portrait) {
    .chapter .iconholder {
        align-self: flex-start;
    }
    nav.chapter a {
        flex: 1 1 5em;
        flex-flow: column nowrap;
    }
}

@media screen {
    nav.chapter .link-text {
        font-size: 0;
        visibility: hidden;
    }
}

@media screen and (orientation:landscape) {
    .chapter .iconholder {
        align-self: center;
        font-size: 8vh;
        font-size: 3em;
    }
    nav.chapter a {
    	min-width: 5rem;
    	min-height: 5rem;
    }
    nav.chapter .link-text {margin-right: .5rem;}
    nav.chapter ul {
        flex-flow: column nowrap;
        align-items: stretch;
    }
}

@media all and (orientation:landscape) and (min-width:60em) {
    .flexr {
        background: magenta;
        /*padding-top: var(--space-lg); */
    }
    .flexr::after {
        /*margin-top: var(--space-lg); */
    }
    header {
        background: #ff9fff;
    }
    footer {
        background: #be71be;
    }
    nav.chapter a {
        align-items: flex-start;
        flex-flow: row nowrap;
        padding:0;
        padding-left: 4rem;
    }
    nav.chapter li + li {
        margin-top: 1px;
    }
    nav.chapter .link-text {
        visibility: visible;
        font-size: 1em;
        
        align-self: center;
        padding: 0.3rem;
        padding-left: 0;
        margin-left: 1rem;
    }
    .iconholder {margin-left: .5rem;}
    nav.chapter a:focus .link-text,
	nav.chapter a:hover .link-text {
		animation: slider .3s ease-in-out;
    	animation-fill-mode:forwards;
    	z-index: 1;
}
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

/* ==========================
	current page in menu	
   ========================== */	

.icon-blad {color: sienna;}
.icon-ertebelg {color: limegreen;}
.icon-mark {color: saddlebrown;}
.icon-spire {color: darkolivegreen;}
.icon-blomst {color: orangered;}
.icon-spredning {color: #b16b31;}
.icon-ert {color: darkolivegreen;}
.icon-romskip {color: #1b41b1;}
.icon-carrot {color: #E65400;}

body.snutter .menu-snutter svg,
body.kviss .menu-kviss svg,
body.kort .menu-kort svg,
body.lang .menu-lang svg,
body.ord .menu-ord svg,
body.film .menu-film svg,
body.let-og-finn .menu-let-og-finn svg {
    color: #C3FF8F;
    background-color: black;
}

body.snutter .menu-snutter a:hover svg,
body.kviss .menu-kviss a:hover svg,
body.kort .menu-kort a:hover svg,
body.lang .menu-lang a:hover svg,
body.ord .menu-ord a:hover svg,
body.film .menu-film a:hover svg,
body.let-og-finn .menu-let-og-finn a:hover svg {
    animation: none;
}

body.snutter .menu-snutter a,
body.kviss .menu-kviss a,
body.kort .menu-kort a,
body.lang .menu-lang a,
body.ord .menu-ord a,
body.film .menu-film a,
body.let-og-finn .menu-let-og-finn a {
    color: black;
    background: #C3FF8F;
}


@media screen and (orientation:portrait) {
    .flexr {
        flex-flow: column-reverse nowrap;
    }
}

@media screen and (orientation:portrait) and (min-width:40em) {
    nav.chapter a {
    	padding-top: 1.3rem;
    	flex-flow: row nowrap;
    	flex: 0 1 7rem;
    	min-height: 5rem;
    	min-width: 5rem;
    }
    
    .iconholder {margin-top: .5rem;}
    nav.chapter .iconholder {
        font-size: 3em;
    }
    nav.chapter a .link-text {
        flex: 1 0 2em;
        font-size: 1em;
        visibility: visible;
        padding: 0.25rem;
        padding-top: 0;
        align-self: flex-end;
        text-align: center;
		flex-flow: row nowrap;       
    }
    nav.chapter .link-text span+span:before {
	    content: '\00a0';
    /* &nbsp; */
    }

}

@media screen and (orientation:portrait) and (min-width:60em) {
    nav.chapter li a {
        
    }
    nav.chapter a .link-text {
        padding: 0.3rem;
    }
}