html,
body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 100vh;
}

.flexr {
    background: cyan;
    flex: 1 0 auto;
    width: 100%;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
}

.iconholder {
    font-size: 2.7em;
    width: 1em;
    height: 1em;
    padding: 0.1em;
    flex: 0 0 auto;
    box-sizing: content-box;
    border: 0px solid red;
    background: white;
    border-radius: 0.05em;
    align-self: flex-start;
    margin: 0.125em;
}

.link-text {
    align-self: center;
    align-items: flex-start;
    justify-content: space-around;
    align-content: stretch;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    /*white-space: pre;*/
    flex: 0 0 auto;
}

@media screen and (orientation:portrait) {
    .flexr {
        flex-flow: column-reverse nowrap;
    }
}

@media screen and (orientation:portrait) and (min-width:40em) {
    nav.chapter .iconholder {
        font-size: 3em;
    }
    nav.chapter a .link-text {
        flex: 1 0 2em;
        font-size: 1em;
        visibility: visible;
        padding: 0.5rem;
        padding-top: 0;
    }
}

@media screen and (orientation:portrait) and (min-width:60em) {
    nav.chapter li a {
        flex-flow: row nowrap;
    }
    nav.chapter a .link-text {
        padding: 0.3rem;
        padding-left: 0;
    }
}

.flexr::after {
    content: '\00a0';
    /* &nbsp; */
    display: block;
    margin-top: 1em;
    height: 0px;
    visibility: hidden;
}

header,
footer {
    flex: none;
}

body {
    font-family: sans-serif;
}

header {
    background: #cbffff;
}

footer {
    background: #87d3d3;
}

main {
    background: rgba(255, 255, 255, 0.5);
    flex: 1 0 auto;
}

nav.chapter {
    background: rgba(128, 128, 128, 0.5);
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

nav.chapter ul {
    background: rgba(0, 255, 255, 0.5);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 auto;
}

nav.chapter a {
    display: flex;
    background: gray;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1px;
}

.chapter .iconholder {
    font-size: 8vw;
}

@media screen and (orientation:portrait) {
    .chapter .iconholder {
        align-self: flex-start;
    }
    nav.chapter a {
        color: red;
        flex: 1 1 5em !important;
    }
}

@media screen {
    nav.chapter .link-text {
        font-size: 0;
        visibility: hidden;
    }
}

@media screen and (orientation:landscape) {
    .chapter .iconholder {
        align-self: center;
        font-size: 8vh;
        font-size: 3em;
    }
    nav.chapter ul {
        flex-flow: column nowrap;
        align-items: stretch;
    }
}

@media screen and (orientation:portrait) {
    nav.chapter a {
        flex-flow: column nowrap;
    }
}

@media all and (orientation:landscape) and (min-width:60em) {
    .flexr {
        background: magenta;
        /*padding-top: var(--space-lg); */
    }
    .flexr::after {
        /*margin-top: var(--space-lg); */
    }
    header {
        background: #ff9fff;
    }
    footer {
        background: #be71be;
    }
    nav.chapter a {
        align-items: flex-start;
        flex-flow: row nowrap;
    }
    nav.chapter li + li {
        margin-top: 1px;
    }
    nav.chapter .link-text {
        visibility: visible;
        font-size: 1em;
        background: yellow;
        align-self: center;
        padding: 0.3rem;
        padding-left: 0;
    }
}

svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}
